.header{
    
    position :absolute;
    top : 0; left : 0; right : 0;
    height : 60px; line-height: 60px;
    color : #FFF;
    text-transform: uppercase;
    text-align: center;
    background-color: #11a7ab
}

.nav{
    position : absolute;
    bottom : 0; left : 0; right: 0;
    height : 60px; line-height: 60px;
    text-align: center;
    background-color: #4f597b;
    
    a{
        display: block;
        width: 50%;
        float: left;
    }
    
    i{
        margin-top : 15px;
    }
}